<!DOCTYPE html>
<html ng-app=chitApp>
<head>
<meta charset="ISO-8859-1">
<title>Factory Example</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-smart-table/2.1.8/smart-table.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-resource.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
</head>
<body>
	<form class="form-horizontal" role="form" ng-submit="addChit()" ng-controller="chitSaveController">

		<div class="form-group">
			<label for="title" class="col-sm-2 control-label">Broker Name</label>
			<div class="col-sm-10">
				<input type="text" ng-model="chit.agentName" class="form-control"
					id="name" placeholder="Agent Name" />
			</div>
		</div>
		<div class="form-group">
			<label for="contact" class="col-sm-2 control-label">Contact No</label>
			<div class="col-sm-10">
				<input type="text" ng-model="chit.contactNo" class="form-control"
					id="contactNo" placeholder="Contact No" />
			</div>
		</div>
		<div class="form-group">
			<label for="title" class="col-sm-2 control-label">Start Date</label>
			<div class="col-sm-10">
				<input type="text" ng-model="chit.startDate" class="form-control"
					id="startDate" placeholder="Start Date" />
			</div>
		</div>
		<div class="form-group">
			<label for="title" class="col-sm-2 control-label">End Date</label>
			<div class="col-sm-10">
				<input type="text" ng-model="chit.endDate" class="form-control"
					id="endDate" placeholder="End Date" />
			</div>
		</div>
		<div class="form-group">
			<label for="title" class="col-sm-2 control-label">Chit Value</label>
			<div class="col-sm-10">
				<input type="text" ng-model="chit.totalValue" class="form-control"
					id="totalValue" placeholder="Chit Value" />
			</div>
		</div>
		<div class="form-group">
			<label for="title" class="col-sm-2 control-label">Received
				Amount</label>
			<div class="col-sm-10">
				<input type="text" ng-model="chit.receivedAmount"
					class="form-control" id="receivedAmount"
					placeholder="Received Amount" />
			</div>
		</div>

		<div class="form-group">
			<label for="title" class="col-sm-2 control-label">Status</label>
			<div class="col-sm-10">
				<input type="text" ng-model="chit.status" class="form-control"
					id="status" placeholder="Status" />
			</div>
		</div>
		<div class="form-group">
			<label for="title" class="col-sm-2 control-label">Comments</label>
			<div class="col-sm-10">
				<textarea rows="5" cols="25" ng-model="chit.comments"
					class="form-control" id="comments" placeholder="Comments"></textarea>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<input type="submit" class="btn btn-primary" value="Add" />
			</div>
		</div>
	</form>
	<div ng-controller="chitController">
		<table st-table="displayed" class="table table-striped">
			<thead>
				<th>Id</th>
				<th>Agent Name</th>
				<th>Start Date</th>
				<th>End Date</th>
			</thead>
			<tbody>
				<tr ng-repeat="x in chits">
					<td>{{x.id}}</td>
					<td>{{x.agentName}}</td>
					<td>{{x.startDate}}</td>
					<td>{{x.endDate}}</td>
				</tr>
			</tbody>
		</table>

	</div>
</body>
</html>
